body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
   }
   
   .container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   }
   
   h1 {
    color: #444;
    margin-bottom: 20px;
   }
   #inicio {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Establecer altura al 100% de la ventana visible */
  }
  
   
   .dog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   }
   
   .dog-info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
   }
   
   .dog-info .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
   }
   
   .dog-info .details h2 {
    color: #333;
    margin-bottom: 10px;
   }
   
   .dog-info .details p {
    color: #666;
    margin: 0;
   }
   
   .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
   }